{% extends "app/layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1>Confirm what you have</h1>
        <p>You have:</p>
        <table border="1">
            <tr>
                <th>food</th>
                <th>have/not(1/0)</th>
            </tr>
            {% for line in list%}
                <tr>
                    <td>{{line.inv}}</td>
                    <td>{{line.res}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    
    

{% endblock %}