{% extends "app/layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1>{{message}}</h1>
        <p>You have:</p>
        <form action ="{% url 'GetMenu' %}" method="POST">{% csrf_token %}
            {% for line in list%}
                <input type="checkbox" name="check_box_list" value="{{line.inv}}" {{line.res}}>{{line.inv}}<br />
            {% endfor %}
            <input type="submit" value="confirmed"><br /><br />

            <!--<input type="text" id="order" size="20">-->
        </form>
    </div>

    
    

{% endblock %}